[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

body > main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main > article {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article > img {
  margin-bottom: 2rem;
}

details p {
  margin-bottom: .5rem;
}

details ul {
  margin-left: 1rem;
}
